$azul: #1f3567;
$marrom: #ba864d;
$cinza: #878787;

.f-color-azul {
	color: $azul !important;
}
.f-bg-azul {
	background-color: $azul !important;
}
.f-color-marrom {
	color: $marrom !important;
}
.f-bg-marrom {
	background-color: $marrom !important;
	
	&:after, &:before {
		background-color: $marrom !important;
	}
}
.f-color-cinza {
	color: $cinza !important;
}
.f-bg-cinza {
	background-color: $cinza !important;
}

.f-font-lora {
	font-family: "Lora", serif !important;
	font-style: italic !important;
}

@mixin bg-opacity($color, $opacity) {
  background: $color;
  background: rgba($color, $opacity);
}
@mixin transition() {
	-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
}
#splash-screen {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	@include bg-opacity($azul, 0.9);
	z-index: 99999;
	pointer-events: none;

	.center {
		display: flex;
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	
		.loading {
			display: inline-block;
			position: relative;
			width: 64px;
			height: 64px;
			margin: 0 auto;

			div {
				position: absolute;
				border: 4px solid #fff;
				opacity: 1;
				border-radius: 50%;
				animation: loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;

				&:nth-child(2) {
					animation-delay: -0.5s;
				}
			}
		}
	}
}
@keyframes loading {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

#splash-screen1 {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	@include bg-opacity($azul, 0.9);
	z-index: 99999;
	pointer-events: none;

	.center {
		display: block;
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	.spinner-wrapper {
		display: block;
		position: relative;
		width: 100%;
		min-height: 100px;
		height: 100px;

		.spinner {
			position: absolute;
			overflow: hidden;
			left: 50%;
			margin-left: -50px;
			animation: outer-rotate 2.91667s linear infinite;
			
			.inner {
				width: 100px;
				height: 100px;
				position: relative;
				animation: sporadic-rotate 5.25s cubic-bezier(0.35, 0, 0.25, 1) infinite;
				
				.gap {
					position: absolute;
					left: 49px;
					right: 49px;
					top: 0;
					bottom: 0;
					border-top: 10px solid;
					box-sizing: border-box;
				}

				.left,
				.right {
					position: absolute;
					top: 0;
					height: 100px;
					width: 50px;
					overflow: hidden;

					.half-circle {
						position: absolute;
						top: 0;
						width: 100px;
						height: 100px;
						box-sizing: border-box;
						border: 10px solid $marrom;
						border-bottom-color: transparent;
						border-radius: 50%;
					}
				}

				.left {
					left: 0;

					.half-circle {
						left: 0;
						border-right-color: transparent;
						animation: left-wobble 1.3125s cubic-bezier(0.35, 0, 0.25, 1) infinite;
						-webkit-animation: left-wobble 1.3125s cubic-bezier(0.35, 0, 0.25, 1) infinite;
					}
				}

				.right {
					right: 0;

					.half-circle {
						right: 0;
						border-left-color: transparent;
						animation: right-wobble 1.3125s cubic-bezier(0.35, 0, 0.25, 1) infinite;
						-webkit-animation: right-wobble 1.3125s cubic-bezier(0.35, 0, 0.25, 1) infinite;
					}
				}
			}
		}
	}
}

@-webkit-keyframes floating-arrow {
  from {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  65% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  to {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); } }
@keyframes floating-arrow {
  from {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  65% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  to {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); } }
.arrow-down {
	text-align: center;
	position: absolute !important;
	z-index: 0;
	
	a {
		border: 2px solid #fff;
		border-radius: 50%;
		color: #fff;
		display: inline-block;
		height: 55px;
		outline-style: none !important;
		position: relative;
		text-decoration: none;
		transition: all .3s ease-in-out;
		width: 55px;
	}
}
.arrow-down-floating {
	.arrow-down-icon {
		-webkit-animation: floating-arrow 1.6s infinite ease-in-out 0s;
		animation: floating-arrow 1.6s infinite ease-in-out 0s;
	}
}
.arrow-down-icon {
	display: block;
	
	&:before {
		content: "\203a";
		display: inline-block;
		font-family: serif;
		font-size: 32px;
		line-height: 1;
		font-style: normal;
		left: 4px;
		position: relative;
		top: 6px;
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}

@keyframes outer-rotate {
	0% {
		transform: rotate(0deg) scale(0.5);
	}
	100% {
		transform: rotate(360deg) scale(0.5);
	}
}

@keyframes left-wobble {
	0%, 100% {
		transform: rotate(130deg);
	}
	50% {
		transform: rotate(-5deg);
	}
}

@keyframes right-wobble {
	0%, 100% {
		transform: rotate(-130deg);
	}
	50% {
		transform: rotate(5deg);
	}
}

@keyframes sporadic-rotate {
	12.5% {
		transform: rotate(135deg);
	}
	25% {
		transform: rotate(270deg);
	}
	37.5% {
		transform: rotate(405deg);
	}
	50% {
		transform: rotate(540deg);
	}
	62.5% {
		transform: rotate(675deg);
	}
	75% {
		transform: rotate(810deg);
	}
	87.5% {
		transform: rotate(945deg);
	}
	100% {
		transform: rotate(1080deg);
	}
}

button#header-toggler {
	color: #fff;
	font-family: 'Lora', serif;
	font-style: italic;
	font-size: 18px;
}

.decoration-line {
	background: url(../images/decoracao_line.png) center;
	background-size: cover;
	height: 43px;
	margin: 0 auto;
	width: 94%;
}
.decoration-line-180deg {
	background: url(../images/decoracao_line_180deg.png) center;
	background-size: cover;
	height: 43px;
	margin: 0 auto;
	width: 94%;
}
.banner {
	
	.decoration-line {
		margin-bottom: 40px;
		max-width: 419px;
	}
	
	.decoration-line-180deg {
		max-width: 419px;
	}

	.logo,
	.subtitulo {
		margin-bottom: 40px;
	}
	
	.subtitulo {
		line-height: 1.1;
	}
}


.planta-left, .planta-right {
	display: flex;
	overflow: hidden;
}

.primeira-vila {
	
	.planta-left {
		align-items: flex-end;
	}
	.planta-right {
		align-items: flex-start;
		justify-content: flex-end;
	}
}

.primeira-vila-container {
	max-width: 1000px;
	width: 100%;
	
	.titulo {
		font: italic 45pt/1 "Lora", sans-serif;
		margin-bottom: 2rem;
	}
	
	.subtitulo {
	}
	
	.saiba-mais {
		
		a {
			background: $azul;
			color: #fff;
			display: inline-block;
			font: italic 27pt/1 "Lora", sans-serif;
			margin-top: 2rem;
			padding: 10px 25px;
			text-decoration: none;
			@include transition();
			
			&:hover {
				background: lighten($azul, 10);
				
				span {
					transform: rotate(180deg);
				}
			}
			
			span {
				display: inline-block;
				transform: rotate(0deg);
  			-webkit-transition-property: transform;
				-webkit-transition-duration: .3s;
				-webkit-transition-timing-function: ease;
  							transition-property: transform;
								transition-duration: .3s;
								transition-timing-function: ease;
			}
		}
	}
	
	.icons {
		color: $azul;
		font-size: 17pt;
		font-weight: 600;
		line-height: 1;
		text-align: center;
		text-transform: uppercase;
		
		.icon {
			display: block;
			height: 180px;
			margin: 0 auto;
			width: 200px;
		
			&.map {
				background-position: 0 0;
			}

			&.utensils {
				background-position: 400px 0;
			}

			&.park {
				background-position: 200px 0;
			}
		
			&.kids {
				background-position: 0 -180px;
			}

			&.people {
				background-position: 400px -180px;
			}

			&.wifi {
				background-position: 200px -180px;
			}
		}
		
		.icon-titulo {
			padding: 0 30px;
		}
	}
}

.marcas {
	color: #fff;
	font: italic 17pt/1 "Lora", sans-serif;
	
	.serrilhado {
		background: url(../images/marcas-serrilhado.png) repeat-x center top;
		height: 100px;
	}
	
	.titulo {
		font: italic 45pt/1 "Lora", sans-serif;
		margin-bottom: 80px;
	}
	
	.marca {
		
		a {
			border: 2px solid transparent;
			color: #fff;
			display: inline-block;
			padding: 25px;
			margin: 0 25px;
			text-decoration: none;
			@include transition();
		
			&:hover {
				border: 2px solid $marrom;
				color: $marrom;
				
				.logo {
					background-position: 0 150px
				}
				
				span {
					transform: rotate(180deg);
				}
			}
		
			.logo {
				background-position: 0 0;
				display: block;
				height: 150px;
				margin-bottom: 20px;
				width: 150px;
				@include transition();
			}
			
			span {
				display: inline-block;
				transform: rotate(0deg);
  			-webkit-transition-property: transform;
				-webkit-transition-duration: .3s;
				-webkit-transition-timing-function: ease;
  							transition-property: transform;
								transition-duration: .3s;
								transition-timing-function: ease;
			}
		}
	}
	
	.todas-operacoes {
		margin: 70px 0 100px;
		
		a {
			border-radius: 50px !important;
			border-width: 3px !important;
			font-size: 18pt;
			padding: 0.71429rem 2.85714rem !important;
			
			&:hover {
				color: $azul;
			}
		}
			
		@media (max-width: 592px) {
			a {
				font-size: 16pt;
			}
		}
	}
}

.unidade {
	
	.col-md-4 {
		
		h2, h3, img {
			margin-bottom: 2.3rem;
		}
		
	}
}

.promocao {
	
	.titulo {
		font: italic 42pt/1 "Lora", sans-serif;
		margin-bottom: 60px;
	}
	
	.subtitulo {
		font: 20pt/1 "Montserrat", sans-serif;
	}
			
	@media (max-width: 592px) {
		.titulo {
			margin-bottom: 30px;
		}
	}
}

.agenda {
	font-size: 35px;
	text-align: center;
	
	.mes {
		background: $azul;
		color: #fff;
    font-size: 40px;
    font-weight: 600;
		margin-bottom: 2rem;
	}
	
	.data {
		background: #ba864d;
    color: #fff;
    font-weight: 600;
	}
	
	textarea {
		height: 262px;
	}
}

section.agenda {
	margin-top: -100px;
}

.o-spazio {

	.planta-left {
		align-items: flex-start;
	}
	.planta-right {
		align-items: flex-end;
		justify-content: flex-end;
	}
}

#mapa {
	
	.serrilhado {
		background: url(../images/mapa-serrilhado.png) repeat-x center top;
		height: 10px;
		position: relative;
		bottom: 10px;
	}
}

footer {
	
	color: #fff;
	
	.titulo {
		color: $marrom;
		font: 32px/1 italic;
		margin-bottom: 1.2rem;
		@extend .f-font-lora;
	}
	
	.subtitulo {
		font-size: 20px;
	}
	
	.copyright {
		background: #fff;
		padding: 4rem 0;
		
		p {
			font-weight: 600;
			
			&:first-child {
				color: #878787;
			}
			
			&:last-child {
				color: #c6c6c6;
				font-size: 0.9rem;
				
				a {
					color: #c6c6c6;
					text-decoration: none;
					@include transition();
					
					&:hover {
						color: #878787;
					}
				}
			}
		}
	}
}

.rotate-180deg {
	transform: rotate(180deg);
}

.u-btn-primary:hover {
	background: lighten($azul, 10%) !important;
}