#newsletter .divimage {
          background-image: linear-gradient(to right, rgba(246, 246, 246, 1),
          rgba(246, 246, 246, 1)), url(https://www.spaziosapore.com.br/site/uploads/site/secao/transparent.png);
					height: 130%;
        }
    		#newsletter .tag,
    		#newsletter .titulo {
          color: #848484;
        }
    		#newsletter .subtitulo {
          color: #848484;
        }
    		#newsletter .componente_titulo {
          color: #ffffff;
        }
    		#newsletter .componente_subtitulo {
          color: #ffffff;
        }
    		#newsletter .componente_fundo1 {
          background-color: #ffffff;
        }
    		#newsletter .componente_fundo2 {
          background-color: #ffffff;
        }
#vila-gatronomica .divimage {
          background-image: linear-gradient(to right, rgba(255, 255, 255, 1),
          rgba(255, 255, 255, 1)), url(https://www.spaziosapore.com.br/site/uploads/site/secao/transparent.png);
					height: 130%;
        }
    		#vila-gatronomica .tag,
    		#vila-gatronomica .titulo {
          color: #1f3567;
        }
    		#vila-gatronomica .subtitulo {
          color: #1f3567;
        }
    		#vila-gatronomica .componente_titulo {
          color: #ffffff;
        }
    		#vila-gatronomica .componente_subtitulo {
          color: #ffffff;
        }
    		#vila-gatronomica .componente_fundo1 {
          background-color: #ffffff;
        }
    		#vila-gatronomica .componente_fundo2 {
          background-color: #ffffff;
        }
#marcas .divimage {
          background-image: linear-gradient(to right, rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)), url(https://www.spaziosapore.com.br/site/uploads/site/secao/3/marcas.jpg);
					height: 130%;
        }
    		#marcas .tag,
    		#marcas .titulo {
          color: #ffffff;
        }
    		#marcas .subtitulo {
          color: #ffffff;
        }
    		#marcas .componente_titulo {
          color: #ffffff;
        }
    		#marcas .componente_subtitulo {
          color: #ffffff;
        }
    		#marcas .componente_fundo1 {
          background-color: #ffffff;
        }
    		#marcas .componente_fundo2 {
          background-color: #ffffff;
        }
#promocoes-da-semana .divimage {
          background-image: linear-gradient(to right, rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)), url(https://www.spaziosapore.com.br/site/uploads/site/secao/transparent.png);
					height: 130%;
        }
    		#promocoes-da-semana .tag,
    		#promocoes-da-semana .titulo {
          color: #1f3567;
        }
    		#promocoes-da-semana .subtitulo {
          color: #ba864d;
        }
    		#promocoes-da-semana .componente_titulo {
          color: #ffffff;
        }
    		#promocoes-da-semana .componente_subtitulo {
          color: #ffffff;
        }
    		#promocoes-da-semana .componente_fundo1 {
          background-color: #ffffff;
        }
    		#promocoes-da-semana .componente_fundo2 {
          background-color: #ffffff;
        }
#promocoes .divimage {
          background-image: linear-gradient(to right, rgba(242, 242, 242, 1),
          rgba(242, 242, 242, 1)), url(https://www.spaziosapore.com.br/site/uploads/site/secao/transparent.png);
					height: 130%;
        }
    		#promocoes .tag,
    		#promocoes .titulo {
          color: #ffffff;
        }
    		#promocoes .subtitulo {
          color: #ffffff;
        }
    		#promocoes .componente_titulo {
          color: #ffffff;
        }
    		#promocoes .componente_subtitulo {
          color: #ffffff;
        }
    		#promocoes .componente_fundo1 {
          background-color: #ffffff;
        }
    		#promocoes .componente_fundo2 {
          background-color: #ffffff;
        }
#siga .divimage {
          background-image: linear-gradient(to right, rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)), url(https://www.spaziosapore.com.br/site/uploads/site/secao/transparent.png);
					height: 130%;
        }
    		#siga .tag,
    		#siga .titulo {
          color: #1f3567;
        }
    		#siga .subtitulo {
          color: #ba864d;
        }
    		#siga .componente_titulo {
          color: #ffffff;
        }
    		#siga .componente_subtitulo {
          color: #ffffff;
        }
    		#siga .componente_fundo1 {
          background-color: #ffffff;
        }
    		#siga .componente_fundo2 {
          background-color: #ffffff;
        }
#spazio-sapore .divimage {
          background-image: linear-gradient(to right, rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)), url(https://www.spaziosapore.com.br/site/uploads/site/secao/1/home.jpg);
					height: 130%;
        }
    		#spazio-sapore .tag,
    		#spazio-sapore .titulo {
          color: #ffffff;
        }
    		#spazio-sapore .subtitulo {
          color: #ffffff;
        }
    		#spazio-sapore .componente_titulo {
          color: #ffffff;
        }
    		#spazio-sapore .componente_subtitulo {
          color: #ffffff;
        }
    		#spazio-sapore .componente_fundo1 {
          background-color: #ffffff;
        }
    		#spazio-sapore .componente_fundo2 {
          background-color: #ffffff;
        }
#agenda-musical .divimage {
          background-image: linear-gradient(to right, rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)), url(https://www.spaziosapore.com.br/site/uploads/site/secao/8/agenda-musical.jpg);
					height: 130%;
        }
    		#agenda-musical .tag,
    		#agenda-musical .titulo {
          color: #ffffff;
        }
    		#agenda-musical .subtitulo {
          color: #ffffff;
        }
    		#agenda-musical .componente_titulo {
          color: #ffffff;
        }
    		#agenda-musical .componente_subtitulo {
          color: #ffffff;
        }
    		#agenda-musical .componente_fundo1 {
          background-color: #ffffff;
        }
    		#agenda-musical .componente_fundo2 {
          background-color: #ffffff;
        }
#musica-e-arte .divimage {
          background-image: linear-gradient(to right, rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)), url(https://www.spaziosapore.com.br/site/uploads/site/secao/transparent.png);
					height: 130%;
        }
    		#musica-e-arte .tag,
    		#musica-e-arte .titulo {
          color: #1f3567;
        }
    		#musica-e-arte .subtitulo {
          color: #ba864d;
        }
    		#musica-e-arte .componente_titulo {
          color: #ffffff;
        }
    		#musica-e-arte .componente_subtitulo {
          color: #ffffff;
        }
    		#musica-e-arte .componente_fundo1 {
          background-color: #ffffff;
        }
    		#musica-e-arte .componente_fundo2 {
          background-color: #ffffff;
        }
#o-spazio .divimage {
          background-image: linear-gradient(to right, rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)), url(https://www.spaziosapore.com.br/site/uploads/site/secao/11/o-spazio.jpg);
					height: 130%;
        }
    		#o-spazio .tag,
    		#o-spazio .titulo {
          color: #ffffff;
        }
    		#o-spazio .subtitulo {
          color: #ffffff;
        }
    		#o-spazio .componente_titulo {
          color: #ffffff;
        }
    		#o-spazio .componente_subtitulo {
          color: #ffffff;
        }
    		#o-spazio .componente_fundo1 {
          background-color: #ffffff;
        }
    		#o-spazio .componente_fundo2 {
          background-color: #ffffff;
        }
#quer-tocar .divimage {
          background-image: linear-gradient(to right, rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)), url(https://www.spaziosapore.com.br/site/uploads/site/secao/10/quer-tocar-na-spazio.jpg);
					height: 130%;
        }
    		#quer-tocar .tag,
    		#quer-tocar .titulo {
          color: #ffffff;
        }
    		#quer-tocar .subtitulo {
          color: #ffffff;
        }
    		#quer-tocar .componente_titulo {
          color: #ffffff;
        }
    		#quer-tocar .componente_subtitulo {
          color: #ffffff;
        }
    		#quer-tocar .componente_fundo1 {
          background-color: #ffffff;
        }
    		#quer-tocar .componente_fundo2 {
          background-color: #ffffff;
        }
#onde-gastronomia .divimage {
          background-image: linear-gradient(to right, rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)), url(https://www.spaziosapore.com.br/site/uploads/site/secao/transparent.png);
					height: 130%;
        }
    		#onde-gastronomia .tag,
    		#onde-gastronomia .titulo {
          color: #1f3567;
        }
    		#onde-gastronomia .subtitulo {
          color: #1f3567;
        }
    		#onde-gastronomia .componente_titulo {
          color: #ffffff;
        }
    		#onde-gastronomia .componente_subtitulo {
          color: #ffffff;
        }
    		#onde-gastronomia .componente_fundo1 {
          background-color: #ffffff;
        }
    		#onde-gastronomia .componente_fundo2 {
          background-color: #ffffff;
        }
#um-ambiente .divimage {
          background-image: linear-gradient(to right, rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)), url(https://www.spaziosapore.com.br/site/uploads/site/secao/transparent.png);
					height: 130%;
        }
    		#um-ambiente .tag,
    		#um-ambiente .titulo {
          color: #1f3567;
        }
    		#um-ambiente .subtitulo {
          color: #1f3567;
        }
    		#um-ambiente .componente_titulo {
          color: #ffffff;
        }
    		#um-ambiente .componente_subtitulo {
          color: #ffffff;
        }
    		#um-ambiente .componente_fundo1 {
          background-color: #ffffff;
        }
    		#um-ambiente .componente_fundo2 {
          background-color: #ffffff;
        }
#entre-em-contato .divimage {
          background-image: linear-gradient(to right, rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)), url(https://www.spaziosapore.com.br/site/uploads/site/secao/14/entre-em-contato.jpg);
					height: 130%;
        }
    		#entre-em-contato .tag,
    		#entre-em-contato .titulo {
          color: #ffffff;
        }
    		#entre-em-contato .subtitulo {
          color: #ffffff;
        }
    		#entre-em-contato .componente_titulo {
          color: #ffffff;
        }
    		#entre-em-contato .componente_subtitulo {
          color: #ffffff;
        }
    		#entre-em-contato .componente_fundo1 {
          background-color: #ffffff;
        }
    		#entre-em-contato .componente_fundo2 {
          background-color: #ffffff;
        }
#fale-conosco .divimage {
          background-image: linear-gradient(to right, rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)), url(https://www.spaziosapore.com.br/site/uploads/site/secao/transparent.png);
					height: 130%;
        }
    		#fale-conosco .tag,
    		#fale-conosco .titulo {
          color: #1f3567;
        }
    		#fale-conosco .subtitulo {
          color: #ba864d;
        }
    		#fale-conosco .componente_titulo {
          color: #ffffff;
        }
    		#fale-conosco .componente_subtitulo {
          color: #ffffff;
        }
    		#fale-conosco .componente_fundo1 {
          background-color: #ffffff;
        }
    		#fale-conosco .componente_fundo2 {
          background-color: #ffffff;
        }
#empreenda .divimage {
          background-image: linear-gradient(to right, rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)), url(https://www.spaziosapore.com.br/site/uploads/site/secao/16/empreenda.jpg);
					height: 130%;
        }
    		#empreenda .tag,
    		#empreenda .titulo {
          color: #ffffff;
        }
    		#empreenda .subtitulo {
          color: #ffffff;
        }
    		#empreenda .componente_titulo {
          color: #ffffff;
        }
    		#empreenda .componente_subtitulo {
          color: #ffffff;
        }
    		#empreenda .componente_fundo1 {
          background-color: #ffffff;
        }
    		#empreenda .componente_fundo2 {
          background-color: #ffffff;
        }
#operacoes-gastronomicas .divimage {
          background-image: linear-gradient(to right, rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)), url(https://www.spaziosapore.com.br/site/uploads/site/secao/17/marcas.jpg);
					height: 130%;
        }
    		#operacoes-gastronomicas .tag,
    		#operacoes-gastronomicas .titulo {
          color: #ffffff;
        }
    		#operacoes-gastronomicas .subtitulo {
          color: #ffffff;
        }
    		#operacoes-gastronomicas .componente_titulo {
          color: #ffffff;
        }
    		#operacoes-gastronomicas .componente_subtitulo {
          color: #ffffff;
        }
    		#operacoes-gastronomicas .componente_fundo1 {
          background-color: #ffffff;
        }
    		#operacoes-gastronomicas .componente_fundo2 {
          background-color: #ffffff;
        }
#voce-nunca-viu .divimage {
          background-image: linear-gradient(to right, rgba(255, 255, 255, 1),
          rgba(255, 255, 255, 1)), url(https://www.spaziosapore.com.br/site/uploads/site/secao/transparent.png);
					height: 130%;
        }
    		#voce-nunca-viu .tag,
    		#voce-nunca-viu .titulo {
          color: #1f3567;
        }
    		#voce-nunca-viu .subtitulo {
          color: #ba864d;
        }
    		#voce-nunca-viu .componente_titulo {
          color: #ffffff;
        }
    		#voce-nunca-viu .componente_subtitulo {
          color: #ffffff;
        }
    		#voce-nunca-viu .componente_fundo1 {
          background-color: #ffffff;
        }
    		#voce-nunca-viu .componente_fundo2 {
          background-color: #ffffff;
        }
#todas-operacoes .divimage {
          background-image: linear-gradient(to right, rgba(31, 53, 103, 1),
          rgba(31, 53, 103, 1)), url(https://www.spaziosapore.com.br/site/uploads/site/secao/transparent.png);
					height: 130%;
        }
    		#todas-operacoes .tag,
    		#todas-operacoes .titulo {
          color: #ffffff;
        }
    		#todas-operacoes .subtitulo {
          color: #ffffff;
        }
    		#todas-operacoes .componente_titulo {
          color: #ffffff;
        }
    		#todas-operacoes .componente_subtitulo {
          color: #ffffff;
        }
    		#todas-operacoes .componente_fundo1 {
          background-color: #ffffff;
        }
    		#todas-operacoes .componente_fundo2 {
          background-color: #ffffff;
        }
#milk-creamery .divimage {
          background-image: linear-gradient(to right, rgba(255, 255, 255, 1),
          rgba(255, 255, 255, 1)), url(https://www.spaziosapore.com.br/site/uploads/site/secao/transparent.png);
					height: 130%;
        }
    		#milk-creamery .tag,
    		#milk-creamery .titulo {
          color: #1f3567;
        }
    		#milk-creamery .subtitulo {
          color: #1f3567;
        }
    		#milk-creamery .componente_titulo {
          color: #ffffff;
        }
    		#milk-creamery .componente_subtitulo {
          color: #ffffff;
        }
    		#milk-creamery .componente_fundo1 {
          background-color: #ffffff;
        }
    		#milk-creamery .componente_fundo2 {
          background-color: #ffffff;
        }

      .u-accordion-color-primary .u-accordion__header [aria-expanded="true"],
      .nav-item.active .nav-link,
      .nav-item .nav-link:hover,
      .g-color-primary {
        color: #1f3567!important;
      }
      .g-brd-primary--focus:focus,
      .g-brd-primary {
        border-color: #1f3567!important;
      }
      .btn-outline-primary {
       color: #1f3567;
       border-color: #1f3567;
      }
      .btn-outline-primary:not([disabled]):not(.disabled).active,
      .btn-outline-primary:not([disabled]):not(.disabled):active,
      .show>.btn-outline-primary.dropdown-toggle {
       box-shadow: 0 0 0 0.2rem rgba(31, 53, 103,.5);
      }
      .btn-outline-primary:not([disabled]):not(.disabled).active,
      .btn-outline-primary:not([disabled]):not(.disabled):active,
      .show>.btn-outline-primary.dropdown-toggle,
      .btn-outline-primary:hover {
       background-color: #1f3567;
       border-color: #1f3567;
      }
      ::selection {
       color: #fff;
       background-color: #1f3567;
      }
      .g-bg-primary--hover:hover,
      [class*="u-nav-v8"] .nav-link.active,
      [class*="u-nav-v8"] .nav-link.active .u-nav-v8__icon,
      .u-carousel-indicators-v1 li.slick-active span,
      .u-btn-primary,
      .u-go-to-v1:hover,
      .u-go-to-v1:focus:hover {
        background-color: #1f3567!important;
      }
      .cor_rodape {
        background-color: #1f3567;
      }
      .cor_rodape_icones_fonte {
        color: #1f3567;
      }
      .cor_rodape_icones_fundo {
        background-color: #ffffff;
      }
      [class*="u-nav-v8"] .nav-link.active::before {
       background-image: -webkit-gradient(linear, right top, left bottom, color-stop(49.6%, transparent), color-stop(50%, #1f3567)), -webkit-gradient(linear, right bottom, left top, color-stop(49.6%, transparent), color-stop(50%, #1f3567));
       background-image: -webkit-linear-gradient(top right, transparent 49.6%, #1f3567 50%), -webkit-linear-gradient(bottom right, transparent 49.6%, #1f3567 50%);
       background-image: -o-linear-gradient(top right, transparent 49.6%, #1f3567 50%), -o-linear-gradient(bottom right, transparent 49.6%, #1f3567 50%);
       background-image: linear-gradient(to bottom left, transparent 49.6%, #1f3567 50%), linear-gradient(to top left, transparent 49.6%, #1f3567 50%);
      }
      @media (min-width: 768px)
      .u-nav-v8-2 .nav-link.active::before {
        background-image: -webkit-gradient(linear, right top, left bottom, color-stop(49.6%, transparent), color-stop(50%, #1f3567)), -webkit-gradient(linear, right bottom, left top, color-stop(49.6%, transparent), color-stop(50%, #1f3567));
        background-image: -webkit-linear-gradient(top right, transparent 49.6%, #1f3567 50%), -webkit-linear-gradient(bottom right, transparent 49.6%, #1f3567 50%);
        background-image: -o-linear-gradient(top right, transparent 49.6%, #1f3567 50%), -o-linear-gradient(bottom right, transparent 49.6%, #1f3567 50%);
        background-image: linear-gradient(to bottom left, transparent 49.6%, #1f3567 50%), linear-gradient(to top left, transparent 49.6%, #1f3567 50%);
      }
      }
      