.login {
  background-size: cover;
	background-image: linear-gradient(to bottom, rgba(31, 53, 103, 0.7), rgba(186, 134, 77, 0.7)), url(https://www.spaziosapore.com.br/uploads/site/secao/1/home.jpg);
  background-position: center;
}
.login-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 20px;
    width: 300px;
}
input[type=color] {
  height: 43px !important;
}
